# Supervised Machine Learning: Showcase \#1

## Name Gender Classifier

â–ª To create a classifier that would automatically classify a given name into either male or female.

In [42]:
from nltk.corpus import names

male_names = names.words("male.txt")
female_names = names.words("female.txt")

LookupError:
**********************************************************************
  Resource names not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('names')

  For more information see: https://www.nltk.org/data.html

  Attempted to load corpora/names

  Searched in:
    - 'C:\\Users\\tarumt/nltk_data'
    - 'C:\\ProgramData\\anaconda3\\nltk_data'
    - 'C:\\ProgramData\\anaconda3\\share\\nltk_data'
    - 'C:\\ProgramData\\anaconda3\\lib\\nltk_data'
    - 'C:\\Users\\tarumt\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
**********************************************************************

<span style = "color:red">
    
**Exercise \#1: Write python code that reads all names from \'female.txt\' into a list named \'female_names\' using readlines().** 

</span>

In [43]:
f1 = open("female.txt", "r")
female_names = f1.readlines()

<span style = "color:red">
    
**Exercise \#2: Write python code that prints the first 10 females names in \'female_names\'.** 

</span>

In [44]:
print(female_names[:10])

['Abagael\n', 'Abagail\n', 'Abbe\n', 'Abbey\n', 'Abbi\n', 'Abbie\n', 'Abby\n', 'Abigael\n', 'Abigail\n', 'Abigale\n']

In [45]:
f1.tell() #position of pointer (end of the )

35576

<span style = "color:red">
    
**Exercise \#3: Rewrite your answer for Exercise \#1 to read all names from \'female.txt\' using read() and splitlines().** 

</span>

In [46]:
f1.seek(0)

0

In [47]:
female_names = f1.read().splitlines()
print(female_names[:10])

['Abagael', 'Abagail', 'Abbe', 'Abbey', 'Abbi', 'Abbie', 'Abby', 'Abigael', 'Abigail', 'Abigale']

<span style = "color:red">
    
**Exercise \#4: Write python code that reads all names from \'male.txt\' into a list named \'male_names\'.** 

</span>

In [48]:
f1 = open("male.txt", "r")
male_names = f1.read().splitlines()
print(male_names[:10])

['Aamir', 'Aaron', 'Abbey', 'Abbie', 'Abbot', 'Abbott', 'Abby', 'Abdel', 'Abdul', 'Abdulkarim']

<span style = "color:red">
    
**Exercise \#5: Write python code that creates a labelled dataset named \'names_list\' from the combination of \'female_names\' and \'male_names\' with the use of binary tuple and list comprehension.** 

</span>

In [49]:
names_list = [(name, 'male') for name in male_names]
names_list += [(name, 'female') for name in female_names]
print(names_list[:10])

[('Aamir', 'male'), ('Aaron', 'male'), ('Abbey', 'male'), ('Abbie', 'male'), ('Abbot', 'male'), ('Abbott', 'male'), ('Abby', 'male'), ('Abdel', 'male'), ('Abdul', 'male'), ('Abdulkarim', 'male')]

<span style = "color:red">
    
**Exercise \#6: Write python code that randomly shuffles all names in \'names_list\'.** 

</span>

In [50]:
import random
random.shuffle(names_list)
print(names_list[:10])

[('Dionne', 'female'), ('Bryant', 'male'), ('Clayborne', 'male'), ('Rutherford', 'male'), ('Isabella', 'female'), ('Wynton', 'male'), ('Van', 'female'), ('Marlow', 'male'), ('Sibella', 'female'), ('Robinia', 'female')]

### Features Extraction

â–ª **extract_gender_features()** is a function that extracts features from names for supervised machine learning purposes.

In [51]:
def extract_gender_features(name):
    
    # Convert all names to lowercase
    name = name.lower()
    
    # Create an empty dictionary
    features = {}
    
    # Extract different lengths of suffixes from names as features
    features["suffix1"] = name[-1:]
    features["suffix2"] = name[-2:] if len(name) > 1 else name[0]
    features["suffix3"] = name[-3:] if len(name) > 2 else name[0]
    #eatures["suffix4"] = name[-4:] if len(name) > 3 else name[0]
    #features["suffix5"] = name[-5:] if len(name) > 4 else name[0]
    #features["suffix6"] = name[-6:] if len(name) > 5 else name[0]
    
    # Extract different lengths of prefixes from names as features
    features["prefix1"] = name[:1]
    features["prefix2"] = name[:2] if len(name) > 1 else name[0]
    features["prefix3"] = name[:3] if len(name) > 2 else name[0]
    features["prefix4"] = name[:4] if len(name) > 3 else name[0]
    #features["prefix5"] = name[:5] if len(name) > 4 else name[0]
    #features["wordLen"] = len(name)
   
    return features

data = [(extract_gender_features(name), gender) for (name, gender) in names_list]

In [52]:
print(names_list[0])
print(data[0])

('Dionne', 'female')
({'suffix1': 'e', 'suffix2': 'ne', 'suffix3': 'nne', 'prefix1': 'd', 'prefix2': 'di', 'prefix3': 'dio', 'prefix4': 'dion'}, 'female')

### Training and Testing Data

â–ª Split names into 80% training data and 20% testing data.

In [53]:
# Set a limit for splitting training and testing data
train_count = int(.8 * len(data))
train_count

6355

In [54]:
# Make the first 80% (the value of trainCount) dataset as the training data
train_data = data[:train_count]

# Make the remaining dataset as the test data
test_data = data[train_count:]

### Model Fitting with Naive Bayes

In [55]:
import nltk

# Train Naive Bayes classifier
bayes = nltk.NaiveBayesClassifier.train(train_data)

### Model Evaluation with Testing Data

In [56]:
# Use classify() to do gender prediction
prediction = [(bayes.classify(features), bayes.classify(features) == label) for features, label in test_data]

In [57]:
# Evaluate the performance in terms of accuracy
print("Test data accuracy =", nltk.classify.accuracy(bayes, test_data))

Test data accuracy = 0.8432976714915041

### Prediction vs. Actual Gender

In [58]:
names_test = names_list[train_count:]

# Create an empty list to store name, gender, prediction, true/false
result = []

# Use sum() to combine two tuples into a new tuple
for index in range(len(prediction)):
    result.append(sum((names_test[index], prediction[index]), ()))

In [59]:
import pandas as pd

df = pd.DataFrame(result, columns = ['Name', 'Gender', 'Prediction', 'T/F'])
df[:20]

        Name  Gender Prediction    T/F
0     Pamela  female     female   True
1   Wolfgang    male       male   True
2     Pearla  female     female   True
3     Chelsy  female     female   True
4    Ritchie    male       male   True
5     Oralee  female     female   True
6      Andie    male     female  False
7   Silvanus    male       male   True
8   Stillman    male       male   True
9     Sondra  female     female   True
10    Dehlia  female     female   True
11     Luise  female     female   True
12    Margie  female     female   True
13      Mary  female     female   True
14       Dix  female       male  False
15   Douglis    male       male   True
16    Morlee  female     female   True
17   Hussein    male       male   True
18     Kevin    male       male   True
19   Shantee  female     female   True

<span style = "color:red">
    
**Exercise \#7: Write python code that prints the first 20 wrong prediction.** 

</span>

In [60]:
df_new = df.loc[(df['T/F'] == False)]
df_new.head(20)

           Name  Gender Prediction    T/F
6         Andie    male     female  False
14          Dix  female       male  False
21       Fabian    male     female  False
29      Kenneth    male     female  False
33      Kennedy    male     female  False
37      Caitlin  female       male  False
41         Mead  female       male  False
44         Sean    male     female  False
48          Sue  female       male  False
58     Christan  female       male  False
60      Mairead  female       male  False
62       Daniel    male     female  False
68       Dennie    male     female  False
75        Stacy    male     female  False
80         Gert  female       male  False
83       Stefan    male     female  False
87          Lou  female       male  False
91   Claybourne    male     female  False
97         Arie    male     female  False
101         Gus  female       male  False

### Most Informative Features

In [61]:
# Show the 25 most informative features that our model used
bayes.show_most_informative_features(25)

Most Informative Features
                 suffix2 = 'na'           female : male   =     84.3 : 1.0
                 suffix2 = 'la'           female : male   =     63.4 : 1.0
                 suffix2 = 'ia'           female : male   =     48.5 : 1.0
                 suffix2 = 'ta'           female : male   =     39.7 : 1.0
                 suffix2 = 'ld'             male : female =     36.3 : 1.0
                 suffix1 = 'k'              male : female =     35.9 : 1.0
                 suffix1 = 'a'            female : male   =     35.7 : 1.0
                 suffix2 = 'us'             male : female =     33.9 : 1.0
                 suffix2 = 'ra'           female : male   =     31.6 : 1.0
                 suffix2 = 'rt'             male : female =     26.5 : 1.0
                 suffix2 = 'rd'             male : female =     23.7 : 1.0
                 suffix3 = 'ana'          female : male   =     22.8 : 1.0
                 suffix1 = 'f'              male : female =     22.2 : 1.0
                 suffix2 = 'ch'             male : female =     19.6 : 1.0
                 suffix2 = 'os'             male : female =     19.6 : 1.0
                 suffix3 = 'ard'            male : female =     19.4 : 1.0
                 suffix3 = 'nne'          female : male   =     16.8 : 1.0
                 prefix2 = 'hu'             male : female =     15.1 : 1.0
                 prefix3 = 'ros'          female : male   =     15.1 : 1.0
                 suffix3 = 'ita'          female : male   =     14.2 : 1.0
                 suffix2 = 'ka'           female : male   =     14.1 : 1.0
                 suffix3 = 'lle'          female : male   =     13.8 : 1.0
                 suffix2 = 'io'             male : female =     13.8 : 1.0
                 suffix3 = 'son'            male : female =     13.6 : 1.0
                 suffix3 = 'ela'          female : male   =     13.4 : 1.0

<span style = "color:red">
    
**Exercise \#8: Write python code that demonstrates the use of the predictive model.** 

</span>

In [62]:
name = input("Enter a name: ")
prediction = bayes.classify(extract_gender_features(name))
prediction

Enter a name: michelle

'female'

<span style = "color:red">
    
**Exercise \#9: Use \'extract_gender_features()\', to conduct experiments on the effect of the use of different types of features.** 

</span>